{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
            {test, [{deps, [
                            {meck, ".*",
                             {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
                            {ranch, ".*",
                             {git, "git://github.com/ninenines/ranch.git", {tag, "1.1.0"}}}
                            ]}
                   ]}
           ]
}.